<!DOCTYPE html>
<html>
    <head>
        <title>Wiki Title-Search App</title>
        <link rel="stylesheet" href="/app.css">
        <link rel="stylesheet" href="/bootstrap.min.css">
    </head>
    <body>
